<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/all.min.css" integrity="sha512-QfDd74mlg8afgSqm3Vq2Q65e9b3xMhJB4GZ9OcHDVy1hZ6pqBJPWWnMsKDXM7NINoKqJANNGBuVRIpIJ5dogfA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="https://fontmeme.com/permalink/210211/2f3759c58ef031214015a421a0c78788.png">
    <title>
      Boolflix
    </title>
  </head>
  <body class="bg-color-grey">
    <div id="root">
    <!-- header -->
    <nav class="search-bar bg-color-black">

      <div class="container display-flex align-items-center ">

          <img class="img-logo cursor-pointer"src="https://fontmeme.com/permalink/210210/4937b74c6317b36c509baa13669b4b20.png" alt="">

          <h1 class="color-white ">Film, serie TV e tanto altro. Senza limiti</h1>

          <input class="search-bar-input" v-model="searchInput" @focus="resetInput" v-on:keyup.enter="search(); resetInput()" type="text" name="" placeholder="inserire titolo del film" >
          <button class="botton-search cursor-pointer" @click="search(); resetInput()"  type="button" name="button">Search</button>

      </div>

    </nav>
    <!-- end header -->

      <!-- main -->
      <main>

        <!-- elenco film -->
        <div class=" container results margin-top-15 ">
          <h2 v-if="listMovies.length">Film</h2>
          <div class="row">
            <div v-for="movie in results" class="col-xs-3 card-column inline-block  ">
              <div class="card">

                <div class="card-cover padding-15">
                  <img class="card-images img-fluid" v-if="movie.poster_path" :src="'https://image.tmdb.org/t/p/w342' + movie.poster_path"  alt="">
                  <img class="card-images img-fluid" v-else src="./img/poster-placeholder.png"  alt="">
                </div>

                <div class="card-info display-none padding-15">
                  <p class="color-white">Titolo: <br> {{movie.title}}</p>
                  <p class="color-white">Titolo originale:<br> {{movie.original_title}}</p>
                  <p class="color-white">Lingua:
                    <img class="flag" alt="" v-if="arrayFlags.includes(movie.original_language)" :src="'./img/' + movie.original_language + '.png'">
                    <span v-else>{{ movie.original_language }}</span>
                  </p>
                  </p class="color-white">
                  <p class="color-white"> Voto:
                  <i class="fas fa-star" v-for="index in assegnoVoto(movie.vote_average)" ></i>
                  <i class="far fa-star" v-for="index in (5 - assegnoVoto(movie.vote_average))"></i>
                </p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- end elenco film -->

        <!-- elenco serieTV -->
        <div class="results margin-top-15 display-none ">
          <h2 v-if="listSerieTV.length">Serie Tv</h2>

          <div class="row">
            <div v-for="serie in results" class="column-200 marginX-15 marginY-15 padding-10  inline-block  ">
              <p class="color-white">Nome: {{serie.original_name}}</p>
              <p class="color-white">Prima apparizione in tv: {{serie.first_air_date}}</p>
              <p class="color-white">Popolarità: {{ serie.popularity }}</p>
              <p class="color-white">Genere:{{ serie.genre_ids}}</p>
              <p class="color-white">Lingua:
              <img  class="flag" alt="" v-if="arrayFlags.includes(serie.original_language)" :src="'./img/' + serie.original_language + '.png'">
              <span v-else>{{ serie.original_language }}</span>
              </p>
              <p class="color-white"> Voto:
                <i class="fas fa-star" v-for="index in assegnoVoto(serie.vote_average)" ></i>
                <i class="far fa-star" v-for="index in (5 - assegnoVoto(serie.vote_average))"></i>
              </p>
            </div>
          </div>

      </div>
      <!-- end elenco serieTV -->

    </main>
      <!-- end main -->
  </div>





  <script src="js/script.js" charset="utf-8"></script>

  </script>
  </body>
</html>
